@font-face {
    font-family: 'clearviewhwy-3-wregular';
    src: url('clearviewhwy-three-w-webfont.eot');
    src: url('clearviewhwy-three-w-webfont.eot?#iefix') format('embedded-opentype'),
         url('clearviewhwy-three-w-webfont.woff') format('woff'),
         url('clearviewhwy-three-w-webfont.ttf') format('truetype'),
         url('clearviewhwy-three-w-webfont.svg#clearviewhwy-3-wregular') format('svg');
    font-weight: normal;
    font-style: normal;
}